.dynamic-color {
    transition: color 1s ease-out;
}

.pane {
    height: 100vh;
    transition: flex 0.5s ease-in;
}

.pane-info {
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: column;
}

.color-text-input {
    font-size: 2rem; 
    max-width: 5em;
    margin: auto;
    text-align: center;
    border: none;
    background-color: transparent;
}

.color-slider-input {
    max-width: 8em;
    box-sizing: border-box;
}

@media (max-width: 640.98px) {
    .pane-info {
        position: relative;
    }
}
